In [1]:
import pandas as pd
import numpy as np

df_org = pd.read_csv("organizations-100.csv")

df_org.head()

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
3,4,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,5,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870

In [2]:
df_org.shape

(100, 9)

In [3]:
df_org.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Index                100 non-null    int64
 1   Organization Id      100 non-null    object
 2   Name                 100 non-null    object
 3   Website              100 non-null    object
 4   Country              100 non-null    object
 5   Description          100 non-null    object
 6   Founded              100 non-null    int64
 7   Industry             100 non-null    object
 8   Number of employees  100 non-null    int64
dtypes: int64(3), object(6)
memory usage: 7.2+ KB

In [4]:
df_org.describe(include="all")

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
count,100.000000,100,100,100,100,100,100.000000,100,100.000000
unique,NaN,100,100,100,84,100,NaN,72,NaN
top,NaN,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Sweden,Horizontal empowering knowledgebase,NaN,Plastics,NaN
freq,NaN,1,1,1,3,1,NaN,4,NaN
mean,50.500000,NaN,NaN,NaN,NaN,NaN,1995.410000,NaN,4964.860000
std,29.011492,NaN,NaN,NaN,NaN,NaN,15.744228,NaN,2850.859799
min,1.000000,NaN,NaN,NaN,NaN,NaN,1970.000000,NaN,236.000000
25%,25.750000,NaN,NaN,NaN,NaN,NaN,1983.500000,NaN,2741.250000
50%,50.500000,NaN,NaN,NaN,NaN,NaN,1995.000000,NaN,4941.500000
75%,75.250000,NaN,NaN,NaN,NaN,NaN,2010.250000,NaN,7558.000000
max,100.000000,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,9995.000000

In [5]:
df_org.duplicated().sum()

np.int64(0)

In [6]:
df_org["Organization Id"].duplicated().sum()

np.int64(0)

In [7]:
# Drop Index column
df_org = df_org.drop(columns=["Index"], errors="ignore")

# Rename columns
df_org = df_org.rename(columns={
    "Organization Id": "organization_id",
    "Name": "name",
    "Website": "website",
    "Country": "country",
    "Description": "description",
    "Founded": "founded",
    "Industry": "industry",
    "Number of employees": "num_employees"
})

df_org.head()

,organization_id,name,website,country,description,founded,industry,num_employees
0,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952
2,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287
3,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com/,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,9eE8A6a4Eb96C24,Mayer Group,http://www.brewer.com/,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870

In [8]:
df_org.isna().sum()

organization_id    0
name               0
website            0
country            0
description        0
founded            0
industry           0
num_employees      0
dtype: int64

In [9]:
(df_org == "").sum()

organization_id    0
name               0
website            0
country            0
description        0
founded            0
industry           0
num_employees      0
dtype: int64

In [10]:
df_org.apply(lambda col: col.str.isspace().sum() if col.dtype=="object" else 0)

organization_id    0
name               0
website            0
country            0
description        0
founded            0
industry           0
num_employees      0
dtype: int64

In [11]:
df_org["founded"].describe()

count     100.000000
mean     1995.410000
std        15.744228
min      1970.000000
25%      1983.500000
50%      1995.000000
75%      2010.250000
max      2021.000000
Name: founded, dtype: float64

In [12]:
df_org["num_employees"].describe()

count     100.000000
mean     4964.860000
std      2850.859799
min       236.000000
25%      2741.250000
50%      4941.500000
75%      7558.000000
max      9995.000000
Name: num_employees, dtype: float64

In [13]:
(df_org["num_employees"] <= 0).sum()

np.int64(0)

In [14]:
# Title case for names & countries
df_org["name"] = df_org["name"].str.strip().str.title()
df_org["country"] = df_org["country"].str.strip().str.title()

# Industry normalized casing (keep Title Case)
df_org["industry"] = df_org["industry"].str.strip().str.title()

# Lowercase + strip website text
df_org["website"] = df_org["website"].str.strip().str.lower()

df_org[["name","country","industry","website"]].head()

,name,country,industry,website
0,Ferrell Llc,Papua New Guinea,Plastics,https://price.net/
1,"Mckinney, Riley And Day",Finland,Glass / Ceramics / Concrete,http://www.hall-buchanan.info/
2,Hester Ltd,China,Public Safety,http://sullivan-reed.com/
3,Holder-Sellers,Turkmenistan,Automotive,https://becker.com/
4,Mayer Group,Mauritius,Transportation,http://www.brewer.com/

In [15]:
# Ensure all websites start with https://
df_org["website"] = df_org["website"].apply(
    lambda x: "https://" + x.replace("http://", "").replace("https://", "").rstrip("/")
)

df_org["website"].head()

0                 https://price.net
1    https://www.hall-buchanan.info
2         https://sullivan-reed.com
3                https://becker.com
4            https://www.brewer.com
Name: website, dtype: object

In [16]:
# Step 1: Normalize to lowercase + strip
df_org["industry"] = df_org["industry"].str.lower().str.strip()

# Step 2: Create a mapping dictionary for consolidation
industry_map = {
    "glass / ceramics / concrete": "Glass & Ceramics",
    "glass/ceramics/concrete": "Glass & Ceramics",
    "glass & ceramics": "Glass & Ceramics",
    "public safety": "Public Safety",
    "transportation": "Transportation",
    "automotive": "Automotive",
    "plastics": "Plastics",
}

# Step 3: Apply mapping (others will stay as-is for now)
df_org["industry"] = df_org["industry"].replace(industry_map)

# Step 4: Title-case everything for cleanliness
df_org["industry"] = df_org["industry"].str.title()

df_org[["industry"]].head(15)

                         industry
0                        Plastics
1                Glass & Ceramics
2                   Public Safety
3                      Automotive
4                  Transportation
5   Primary / Secondary Education
6             Publishing Industry
7                 Import / Export
8                        Plastics
9        Outsourcing / Offshoring
10  Primary / Secondary Education
11               Food / Beverages
12         Museums / Institutions
13               Medical Practice
14                       Maritime

In [23]:
import re

def clean_industry(x):
    # baseline cleanup
    x = str(x).strip().title()

    # normalize spacing around slashes & hyphens
    x = re.sub(r"\s*/\s*", " / ", x)
    x = re.sub(r"\s*-\s*", "-", x)

    # fix common abbreviation casing
    x = x.replace(" It", " IT")
    x = x.replace(" Hr", " HR")
    x = x.replace(" Pr", " PR")
    x = x.replace(" Vc", " VC")

    # final stubborn fixes
    x = x.replace("PRivate", "Private")
    x = x.replace("PRoduction", "Production")

    return x

df_org["industry"] = df_org["industry"].apply(clean_industry)

sorted(df_org["industry"].unique())

['Accounting',
 'Alternative Dispute Resolution',
 'Architecture / Planning',
 'Arts / Crafts',
 'Automotive',
 'Banking / Mortgage',
 'Broadcast Media',
 'Building Materials',
 'Business Supplies / Equipment',
 'Capital Markets / Hedge Fund / Private Equity',
 'Civic / Social Organization',
 'Civil Engineering',
 'Computer Software / Engineering',
 'Construction',
 'Consumer Electronics',
 'Consumer Goods',
 'Consumer Services',
 'Education Management',
 'Electrical / Electronic Manufacturing',
 'Entertainment / Movie Production',
 'Facilities Services',
 'Farming',
 'Financial Services',
 'Food / Beverages',
 'Gambling / Casinos',
 'Glass & Ceramics',
 'Hospitality',
 'Human Resources / HR',
 'Import / Export',
 'Individual / Family Services',
 'Information Technology / IT',
 'Insurance',
 'International Affairs',
 'International Trade / Development',
 'Investment Management / Hedge Fund / Private Equity',
 'Law Enforcement',
 'Legal Services',
 'Legislative Office',
 'Logistics / PRocurement',
 'Luxury Goods / Jewelry',
 'Management Consulting',
 'Maritime',
 'Marketing / Advertising / Sales',
 'Mechanical Or Industrial Engineering',
 'Medical PRactice',
 'Mental Health Care',
 'Military Industry',
 'Museums / Institutions',
 'Music',
 'Newspapers / Journalism',
 'Non-Profit / Volunteering',
 'Online Publishing',
 'Outsourcing / Offshoring',
 'Pharmaceuticals',
 'Photography',
 'Plastics',
 'Primary / Secondary Education',
 'Printing',
 'Public Relations / PR',
 'Public Safety',
 'Publishing Industry',
 'Real Estate / Mortgage',
 'Religious Institutions',
 'Semiconductors',
 'Telecommunications',
 'Textiles',
 'Transportation',
 'Utilities',
 'Venture Capital / VC',
 'Wholesale',
 'Wireless',
 'Writing / Editing']

In [24]:
# 1. Check duplicate organization IDs
print("Duplicate organization_id values:", df_org["organization_id"].duplicated().sum())

# 2. Check missing values
print("\nMissing values per column:\n", df_org.isna().sum())

# 3. Confirm datatypes
print("\nData Types:\n")
print(df_org.dtypes)

# 4. Final preview
df_org.head()

Duplicate organization_id values: 0

Missing values per column:
 organization_id    0
name               0
website            0
country            0
description        0
founded            0
industry           0
num_employees      0
dtype: int64

Data Types:

organization_id    object
name               object
website            object
country            object
description        object
founded             int64
industry           object
num_employees       int64
dtype: object

,organization_id,name,website,country,description,founded,industry,num_employees
0,FAB0d41d5b5d22c,Ferrell Llc,https://price.net,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498
1,6A7EdDEA9FaDC52,"Mckinney, Riley And Day",https://www.hall-buchanan.info,Finland,User-centric system-worthy leverage,2015,Glass & Ceramics,4952
2,0bFED1ADAE4bcC1,Hester Ltd,https://sullivan-reed.com,China,Switchable scalable moratorium,1971,Public Safety,5287
3,2bFC1Be8a4ce42f,Holder-Sellers,https://becker.com,Turkmenistan,De-engineered systemic artificial intelligence,2004,Automotive,921
4,9eE8A6a4Eb96C24,Mayer Group,https://www.brewer.com,Mauritius,Synchronized needs-based challenge,1991,Transportation,7870

In [25]:
df_org.to_csv("cleaned_organizations_data.csv", index=False)

print("Cleaned organizations dataset saved successfully!")

Cleaned organizations dataset saved successfully!