In [1]:
import pandas as pd
import numpy as np

df_cust = pd.read_csv("customers-100.csv")

df_cust.head()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,2,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,3,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,4,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,5,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [2]:
df_cust.shape

(100, 12)

In [3]:
df_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              100 non-null    int64
 1   Customer Id        100 non-null    object
 2   First Name         100 non-null    object
 3   Last Name          100 non-null    object
 4   Company            100 non-null    object
 5   City               100 non-null    object
 6   Country            100 non-null    object
 7   Phone 1            100 non-null    object
 8   Phone 2            100 non-null    object
 9   Email              100 non-null    object
 10  Subscription Date  100 non-null    object
 11  Website            100 non-null    object
dtypes: int64(1), object(11)
memory usage: 9.5+ KB

In [4]:
df_cust.describe(include="all")

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
count,100.000000,100,100,100,100,100,100,100,100,100,100,100
unique,NaN,100,93,97,99,100,85,100,100,100,96,100
top,NaN,DD37Cf93aecA6Dc,Sheryl,Foley,Simon LLC,East Leonard,Solomon Islands,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2021-04-23,http://www.stephenson.com/
freq,NaN,1,2,2,2,1,4,1,1,1,2,1
mean,50.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,29.011492,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,25.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,50.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,75.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_cust.duplicated().sum()

np.int64(0)

In [6]:
df_cust["Customer Id"].duplicated().sum()

np.int64(0)

In [7]:
# Drop the Index column
df_cust = df_cust.drop(columns=["Index"], errors="ignore")

# Rename columns for consistency
df_cust = df_cust.rename(columns={
    "Customer Id": "customer_id",
    "First Name": "first_name",
    "Last Name": "last_name",
    "Company": "company",
    "City": "city",
    "Country": "country",
    "Phone 1": "phone_primary",
    "Phone 2": "phone_secondary",
    "Email": "email",
    "Subscription Date": "subscription_date",
    "Website": "website"
})

df_cust.head()

,customer_id,first_name,last_name,company,city,country,phone_primary,phone_secondary,email,subscription_date,website
0,DD37Cf93aecA6Dc,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,229.077.5154,397.884.0519x718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,1Ef7b82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,686-620-1820x944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,6F94879bDAfE5a6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua and Barbuda,+1-539-402-0259,(496)978-3969x58947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,5Cef8BFA16c5e3c,Linda,Olsen,"Dominguez, Mcmillan and Donovan",Bensonview,Dominican Republic,001-808-617-6467x12895,+1-813-324-8756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,053d585Ab6b3159,Joanna,Bender,"Martin, Lang and Andrade",West Priscilla,Slovakia (Slovak Republic),001-234-203-0635x76146,001-199-446-3860x3486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [8]:
df_cust.isna().sum()

customer_id          0
first_name           0
last_name            0
company              0
city                 0
country              0
phone_primary        0
phone_secondary      0
email                0
subscription_date    0
website              0
dtype: int64

In [9]:
(df_cust == "").sum()

customer_id          0
first_name           0
last_name            0
company              0
city                 0
country              0
phone_primary        0
phone_secondary      0
email                0
subscription_date    0
website              0
dtype: int64

In [10]:
df_cust.apply(lambda col: col.str.isspace().sum() if col.dtype=="object" else 0)

customer_id          0
first_name           0
last_name            0
company              0
city                 0
country              0
phone_primary        0
phone_secondary      0
email                0
subscription_date    0
website              0
dtype: int64

In [11]:
df_cust["subscription_date"] = pd.to_datetime(
    df_cust["subscription_date"],
    errors="coerce"
)

df_cust[["subscription_date"]].head()

  subscription_date
0        2020-08-24
1        2021-04-23
2        2020-03-25
3        2020-06-02
4        2021-04-17

In [12]:
df_cust["subscription_date"].isna().sum()

np.int64(0)

In [13]:
# Clean Primary Phone
df_cust["phone_primary"] = (
    df_cust["phone_primary"]
    .astype(str)
    .str.replace(r"\D", "", regex=True)
)

# Clean Secondary Phone
df_cust["phone_secondary"] = (
    df_cust["phone_secondary"]
    .astype(str)
    .str.replace(r"\D", "", regex=True)
)

df_cust[["phone_primary", "phone_secondary"]].head()

        phone_primary    phone_secondary
0          2290775154      3978840519718
1          5153435776      6866201820944
2         15394020259    496978396958947
3  001808617646712895        18133248756
4  001234203063576146  00119944638603486

In [14]:
(df_cust["phone_primary"] == "").sum(), (df_cust["phone_secondary"] == "").sum()

(np.int64(0), np.int64(0))

In [15]:
# Title-case selected text columns
cols_title = ["first_name", "last_name", "company", "city", "country"]

for col in cols_title:
    df_cust[col] = df_cust[col].str.strip().str.title()

# Lowercase emails (best practice)
df_cust["email"] = df_cust["email"].str.strip().str.lower()

# Standardize Customer ID to uppercase
df_cust["customer_id"] = df_cust["customer_id"].str.strip().str.upper()

df_cust[["customer_id","first_name","last_name","company","city","country","email"]].head()

,customer_id,first_name,last_name,company,city,country,email
0,DD37CF93AECA6DC,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,zunigavanessa@smith.info
1,1EF7B82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,vmata@colon.com
2,6F94879BDAFE5A6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua And Barbuda,beckycarr@hogan.com
3,5CEF8BFA16C5E3C,Linda,Olsen,"Dominguez, Mcmillan And Donovan",Bensonview,Dominican Republic,stanleyblackwell@benson.org
4,053D585AB6B3159,Joanna,Bender,"Martin, Lang And Andrade",West Priscilla,Slovakia (Slovak Republic),colinalvarado@miles.net

In [16]:
df_cust["customer_id"].duplicated().sum()

np.int64(0)

In [17]:
df_cust["customer_id"].isna().sum()

np.int64(0)

In [18]:
df_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        100 non-null    object
 1   first_name         100 non-null    object
 2   last_name          100 non-null    object
 3   company            100 non-null    object
 4   city               100 non-null    object
 5   country            100 non-null    object
 6   phone_primary      100 non-null    object
 7   phone_secondary    100 non-null    object
 8   email              100 non-null    object
 9   subscription_date  100 non-null    datetime64[ns]
 10  website            100 non-null    object
dtypes: datetime64[ns](1), object(10)
memory usage: 8.7+ KB

In [19]:
df_cust.head()

,customer_id,first_name,last_name,company,city,country,phone_primary,phone_secondary,email,subscription_date,website
0,DD37CF93AECA6DC,Sheryl,Baxter,Rasmussen Group,East Leonard,Chile,2290775154,3978840519718,zunigavanessa@smith.info,2020-08-24,http://www.stephenson.com/
1,1EF7B82A4CAAD10,Preston,Lozano,Vega-Gentry,East Jimmychester,Djibouti,5153435776,6866201820944,vmata@colon.com,2021-04-23,http://www.hobbs.com/
2,6F94879BDAFE5A6,Roy,Berry,Murillo-Perry,Isabelborough,Antigua And Barbuda,15394020259,496978396958947,beckycarr@hogan.com,2020-03-25,http://www.lawrence.com/
3,5CEF8BFA16C5E3C,Linda,Olsen,"Dominguez, Mcmillan And Donovan",Bensonview,Dominican Republic,001808617646712895,18133248756,stanleyblackwell@benson.org,2020-06-02,http://www.good-lyons.com/
4,053D585AB6B3159,Joanna,Bender,"Martin, Lang And Andrade",West Priscilla,Slovakia (Slovak Republic),001234203063576146,00119944638603486,colinalvarado@miles.net,2021-04-17,https://goodwin-ingram.com/

In [20]:
df_cust.to_csv("cleaned_customers_data.csv", index=False)

print("Cleaned customers dataset saved successfully!")

Cleaned customers dataset saved successfully!